Kondisi {{.Date}}

Indonesia
Positif COVID-19 : {{.Confirmed}}
Sembuh (Positif COVID-19) : {{.Recovered}}
Meninggal (Positif COVID-19):  {{.Deceased}}

Terima kasih, kamu sudah mampir kepada kami. Jaga kesehatan selalu. Jangan lupa rajin cuci tangan dengan sabun, makan-makanan yang sehat dan teratur,  serta menggunakan masker bila kamu sedang merasa tidak enak badan

Untuk informasi lebih lanjut dapat menghubungi kanal resmi milik pemerintah.
website: www.covid19.go.id
Call Center: 119
Phone: 0811 333 99 000

Ayo dukung terus gerakan kami
Platform pemenuhan skill anak muda
 
FB: Miloo | IG: @miloo.project | miloo.id