Kondisi {{.Date}}

Indonesia
Positif {{.Confirmed}}
Sembuh {{.Recovered}}
Meninggal {{.Deceased}}
Dirawat {{.Treated}}

Untuk informasi lebih lanjut kunjungi kanal resmi milik pemerintah.
website: www.covid19.go.id
Call Center: 119
Phone: 081133399000
 
instagram @miloo.project