Kondisi {{.Date}}

Positif {{.Confirmed}}
Dirawat {{.Treated}}
Sembuh {{.Recovered}}
Meninggal {{.Deceased}}

Untuk informasi lebih lanjut kunjungi kanal resmi milik pemerintah.
website: www.covid19.go.id
Call Center: 119
Phone: 081133399000
 
instagram @miloo.project